extends ../layout/main

block variables
	- var title = 'Отделения';
	- var h1 = 'Отделения';


block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Отделения'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.page-content
		.container.container_indent
			.row
				.col-12
					.bg-light-blue-left
						.page-content__info
							section.branches-list
								.row
									-
										var list=[
											{img:'branch2.jpg', title:'г.Северодвинск', index:'164522', address:'Архангельская область, улица Трухинова, дом 6а, пом. 3Н'},
											{img:'branch1.jpg', title:'г. Лиски', index:'397901', address:'Воронежская область, Коммунистическая ул., 5'},
											{img:'branch2.jpg', title:'г. Архангельск', index:'397901', address:'Архангельская область, Советская улица, 44'},
											{img:'branch1.jpg', title:'г. Лиски', index:'397901', address:'Воронежская область, Коммунистическая ул., 5'},
											{img:'branch2.jpg', title:'г.Северодвинск', index:'164522', address:'Архангельская область, улица Трухинова, дом 6а, пом. 3Н'},
											{img:'branch2.jpg', title:'г. Архангельск', index:'397901', address:'Архангельская область, Советская улица, 44'},
										]

									each item in list
										.col-sm-6.col-lg-4
											.branches-item
												a(href="#").branches-item__img-wrap
													.branches-item__img(style="background-image: url(assets/img/"+item.img+")")
												
												.branches-item__content
													.branches-item__city
														a(href="#")= item.title
													.branches-item__index= item.index
													.branches-item__address= item.address
										
								.row
									.col-12
										.btn-more
											a.btn.btn_border(href='#')
												span Показать больше
												+svg('ic-arrow-down','ic-arrow-down', '14', '8')
												

	include ../components/mark