extends ../layout/main

block variables
	- var title = 'Документы';
	- var h1 = 'Документы';


block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Документы'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.page-content
		.container.container_indent
			.row
				.col-12
					.bg-light-blue-left
						.page-content__info.clearfix
							.img-float
								img(src="assets/img/news-detail.jpg", alt="")

							p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

							h2 выдача денег в долг до зарплаты Н2
							p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

							h3 Лояльные требования Н3
							p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

							h3 Выгодный займ – лучшее решение всех финансовых вопросов  Н3
							p Главная цель обращения клиента в компанию – быстро получить необходимую сумму под низкий процент. Предпосылки возникновения потребности в деньгах различны:

							ul
								li поехать в путешествие заграницу;
								li пройти курс лечения в санатории;
								li поехать в путешествие заграницу;
								li открыть небольшой бизнес;
								li сделать ремонт.

	include ../components/mark