extends ../layout/main

block variables
	- var title = 'Новость детальная';
	- var h1 = 'Приходи с договором конкурента — сделаем скидку!';


block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Новости и акции'},
			{href:'#',name:'Приходи с договором конкурента — сделаем скидку!'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.page-content
		.container.container_indent
			.row
				.col-12
					.bg-light-blue-left
						.page-content__info
							section.article-detail
								.article-detail__img
									img(src="assets/img/news-detail.jpg", alt="")

								.article-detail__desc
									p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

									h2 выдача денег в долг до зарплаты Н2
									p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

									h3 Лояльные требования Н3
									p Микрозаём — это небольшой кредит наличными, выдаваемый микрокредитными организациями. Больше всего такой вид займа подходит для потребительских нужд, когда деньги требуются срочно и нет возможности у кого-либо взять в долг до зарплаты. Микрозаймы выдаются на непродолжительные сроки и на максимально упрощенных условиях.

									h3 Выгодный займ – лучшее решение всех финансовых вопросов  Н3
									p Главная цель обращения клиента в компанию – быстро получить необходимую сумму под низкий процент. Предпосылки возникновения потребности в деньгах различны:

									ul
										li поехать в путешествие заграницу;
										li пройти курс лечения в санатории;
										li поехать в путешествие заграницу;
										li открыть небольшой бизнес;
										li сделать ремонт.

					
		.detail-nav-wrap
			.container
				.row
					.col-12
						.detail-nav
							a(href="#").detail-nav__item
								+svg('ic-arrow-left','ic-arrow-left', '10', '18')
								span.detail-nav__text Вернуться к списку акций

							a(href="#").detail-nav__item
								span.detail-nav__text Следующая акция
								+svg('ic-arrow-right','ic-arrow-right', '10', '18')
													

	include ../components/mark