include ../utils/mixins
block variables

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title #{title}

	body
		.wrapper
			include ./header
			main
				block header-ban
				if h1
					.page-top
						.page-top__content
							.container.container_indent
								.row
									.col-12
										block breadcrumb
										h1= h1
				block content
			include ./footer
